button{
    @include button;
}
table:not(.facts_tbl){
    @include table;
}
.facts_tbl{
  @include facts_tbl;
}
//Above hjere i set the default mixins included for some elements

//Getting rid of some default styling of the link element
a{
    text-decoration: none;
    font-size: inherit !important;
}



//Custom scrollbar
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $color3 $color4;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: $color4;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $color3;
    border-radius: 24px;
    border: 3px solid $color4;
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0
 }