//Met deze mixins zorg ik ervoor dat het minder tijd kost om media queries te maken
@mixin sm{
    @media (max-width: 768px) {
        @content;
    } 
}
@mixin xs{
    @media (max-width: 500px) {
        @content;
    } 
}

//Een mixin met de standaard layout van een button die utieraard overschreven kan worden
@mixin button{
    button{
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        border: 2px solid $color3;
        background-color: $white;
        transition: 0.2s ease;
        font-size: 14px;
        color: $color3;
        border-radius: $br;
        width: 100%;
        text-align: center;
        .icon_btn{
            margin-left: 10px;
        }
        &:hover{
            background-color: $color3;
            color: $white;
            cursor: pointer;
        }
        @include xs{
            padding: 5px 8px;
            font-size: 12px;
            .icon_btn{
                margin-left: 5px;
            }
        }
    }
}
//Mixin with navitems with buttons. Basically an extended version of button mixin
@mixin navitem{
    padding: 10px 0;
    width: fit-content;
    min-width: 165px;
    &.active{
        button{
            background-color: $color3;
            color: $white;
            cursor: pointer;
        }
    }
    button{
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        border: 2px solid $color3;
        background-color: $white;
        transition: 0.2s ease;
        font-size: 14px;
        color: $color3;
        border-radius: $br;
        width: 100%;
        text-align: center;
        .icon_wrapper{
            width: 35px;
            justify-content: center;
            display: flex;
        }
        &:hover{
            background-color: $color3;
            color: $white;
            cursor: pointer;
        }
        @include xs{
            padding: 5px 8px;
            font-size: 12px;
            .icon_btn{
                margin-left: 5px;
            }
        }
    }
    @include xs{
        min-width: 0;
        padding: 0;
    }
}
//Basic table layout at jobs and education articles
@mixin table{
    border-radius: $br;
    overflow: hidden;
    margin-top: 10px;
    th, td{
        padding: 10px;
        text-align: left;
        a{
            color: $color3;
            font-weight: bold;
            transition: 0.2s ease;
            &:hover{
                color: $white;
            }
        }
    }
    thead{
        tr{
            th{
                background-color: $color3;
                color: $white;
            }
        }
    }
    tbody{
        tr{
            &:nth-child(even){
                td{
                    background-color: $color2;
                    border: 1px solid $color3;
                }
            }
            &:nth-child(odd){
                td{
                    background-color: $color4;
                    border: 1px solid $color3;
                }
            }
            &:last-child{
                td{
                    border-bottom: 2px solid $color3;
                    &:first-child{
                        border-bottom-left-radius: 24px;
                    }
                    &:last-child{
                        border-bottom-right-radius: 24px;
                    }
                }
            }
            td{
                font-size: 12px;
                &:first-child{
                    border-left: 2px solid $color3;
                }
                &:last-child{
                    border-right: 2px solid  $color3;
                }
            }
        }
    }
}
//table layout for the facts article
@mixin facts_tbl{
    margin-top: 10px;
    th, td{
        padding: 10px;
        text-align: left;
    }
    tbody{
        tr{
            td{
                font-size: 14px;
                border: 1px solid $white;
                //First and last child get an extra border so all the borders are the same size. Otherwise the left side of the table and the right side of the table have half the borders.
                &:first-child{
                    border-left: 2px solid $white;
                    background-color: $color3;
                    border: 1px solid $white;
                    color: $white;
                }
                &:last-child{
                    border-right: 2px solid  $white;
                    background-color: $color4;
                }
                //Shortened for Vertical Align Top
                &.vat{
                    vertical-align: top;
                }
            }
        }
    }
}