@mixin sm{
    @media (max-width: 768px) {
        @content;
    } 
}
@mixin xs{
    @media (max-width: 500px) {
        @content;
    } 
}
@mixin button{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border: 2px solid $color3;
    background-color: $white;
    transition: 0.2s ease;
    font-size: 14px;
    color: $color3;
    border-radius: $br;
    text-align: center;
    .icon_btn{
        margin-left: 10px;
    }
    &:hover{
        background-color: $color3;
        color: $white;
        cursor: pointer;
    }
    @include xs{
        padding: 5px 8px;
        font-size: 12px;
        .icon_btn{
            margin-left: 5px;
        }
    }
}