@import "./vars";
@import "./mixins";

*{
    margin: 0;
    padding: 0;
    font-family: $font1;
}

#container{
    background-color: $color1;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: start;
    .inner_container{
        display: flex;
        margin-top: $margin-m;
        width: 75dvw;
        max-width: 75dvw;
        border-radius: $br;
        border: 2px solid $color3;
        background-color: $white;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        @include sm{
            width: 90vw;
            max-width: 90vw;
            margin-top: $margin-s;
        }
        aside{
            border-right: 2px dotted $color3;
            background-color: $color2;
            color: white;
            width: calc(30% - 2px);
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            .nav_wrapper{
                .nav_item{
                    padding: 10px 0;
                    .button{
                        @include button;
                    }
                }
            }
        }
        article{
            width: calc(70% - 2px);
            border-left: 2px dotted $color3;
            background-color: $white;
            position: relative;
            .wrapper_container{
                position: absolute;
                width: 100%;
                height: 100%;
                .wrapper{
                    opacity: 0;
                    padding: 24px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    &.active{
                        opacity: 1;
                    }
                }
            }
    
        }

    }
}